body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btns{

}

#up,
#down,
#left,
#right{
    background: #ff9933;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    border: 0;
    position: fixed;
    outline: none;
    cursor: pointer;
    
   
}
#up{
    bottom: 23%;
    right: 14%;
}
#down{
    bottom: 11%;
    right: 14%;
}
#left{
    bottom: 17%;
    right: 25% ;
}
#right{
    bottom: 17%;
    right: 4% ;
}

  /*for large devices*/
  @media screen and (min-width: 768px) {
  .btns{
      display: none;
  }

  }
