body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btns{

}

#up,
#down,
#left,
#right{
    background: transparent;
    width: 50px;
    height: 50px;
    border:1px solid #ff9933
    border-radius: 50%;
    color: white;
    font-weight: bold;
    border: 0;
    position: fixed;
    outline: none;
    cursor: pointer;
    
   
}
#up{
    bottom: 23%;
    right: 14%;
}
#down{
    bottom: 11%;
    right: 14%;
}
#left{
    bottom: 17%;
    right: 25% ;
}
#right{
    bottom: 17%;
    right: 4% ;
}

  /*for large devices*/
 @media screen and (min-width: 992px) {
    #up,
    #down,
    #left,
    #right{
        display: none;
        
       
  }

  } 
